body {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit" !important;
  font-size: 15px;
}

section {
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}
.qrcode_card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}
.qrcode_scanner {
  /* width: 16rem; */
  border-radius: 20px;
}
h2 {
  font-size: 15px;
  font-weight: 700 !important;
  color: hsl(218, 44%, 22%);
}
h6 {
  font-size: 15px;
  font-weight: 400 !important;
  color: darkgray;
}
